<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Jeu serieux</title>
  <link rel="stylesheet" href="../../src/cssstyleConnexion.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
</head>
<body>
  <div id="main">
    <form method="post" action="User/Login" id="connectForm">
      <!-- changer action si besoin -->
      <ul>
        <li>
          <label id="labelConnexion">Connexion</label>
        </li>
        <li>
          <input type="text" placeholder="Identifiant" class="inputTexte"/>
        </li>
        <li>
          <input type="password" placeholder="Mot de passe" class="inputTexte"/>
        </li>
        <li>
          <input type="button" value="JOUER" id="boutonJouer"/>
        </li>
        <li>
          <a href="User/Signup" id="labelPas">Pas de compte ? Créez-en un nouveau.</a>
          <!-- changer le href si besoin -->
        </li>
      </ul>
    </form>
  </div>
</body>
</html>
