html, body{
  padding: 0px;
  margin: 0px;
}

html{
  position: relative;
}

body{
  background: #383838;
}

h1, p{
  color: white;
}

h1{
  font-family: 'Poppins', sans-serif;
}

p, a, label, td
{
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0px;
}

nav{
  display: block;
  padding: 20px 10px;
  background: black;
  color: white;
}

#navList{
  list-style-type: none;
  margin: 0px;
}

.navItem
{
  display: inline-block;
  margin: 0px 10px;
}

.navItem::after
{
  clear: both;
}

.navItem > a
{
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

#main{
  width: 70vw;
  margin: auto;
  padding: 0px;
  text-align: center;
  text-align: center;
  vertical-align: center;
}

.form, #chat{
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  background: #707070;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  border: 5px solid #B0B0B0;
  border-radius: 60px;
}

#labelConnexion{
  font-size: 175%;
  font-weight: bold;
}

.whiteLink{
  color: #DCDCDC;
}

.formField
{
  margin-top: 3.5%;
}

.submitButton{
  font-family: 'Bowlby One SC', cursive;
  background: #33cc33;
  border: 2px solid green;
  border-radius: 20px;
  width: 40%;
  padding: 15px;
  color: black;
}

.jouerLink
{
  color: black;
  font-family: 'Bowlby One SC', cursive;
  background: #33cc33;
  border: 2px solid green;
  border-radius: 20px;
  width: 25%;
  padding: 15px;
  text-decoration: none;
}

.inputTexte{
  border-radius: 9px;
  height: 20px;
  width: 75%;
  padding: 5px;
  border: none;
}

.error{
  color: #900505;
}

#tabParties{
  border-collapse: collapse;
  width: 100%;
  color: white;
  font-size: 20px;}

#tabParties, #tabParties > thead > tr > td, .partieItem, .partieItem > td{
  border: solid black 2px;
}

.partieInfo{
  padding: 25px 15px;
}

#creerPartieDiv{
  margin: 20px 0px;
}

#choixRole{
  width: 100%;
}

#choixRole > tr{
  width: 100%;
}

.boutonChoix, .boutonActive, .boutonInactive{
  margin: auto;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 10px;  
  background: none;  
  font-size: 25px;  
}

.boutonChoix{
  border: white solid 7px;
  color: white;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.boutonChoix:hover{
  cursor: pointer;
  opacity: 1;
}

.choisi, .indisponible{
  opacity: 1;
}

.choisi{
  color: #35D0E8;
  border: #35D0E8 solid 7px;
}

.indisponible{
  color: red;
  border: red solid 7px;
}

#chat{
  width: 230px;
  padding: 30px 10px;
  margin: 0px;
}

#messages{
  width: 90%;
  height: 120px;
  margin: auto;
  margin-bottom: 15px;
  border: solid black 1px;
  border-radius: 5px;
  text-align: left;
  font-size: 15px;
  background: #b3b1b1;
  table-layout: fixed;
}

#messages > tbody{
  display: block;
  overflow: auto;
  height: 120px;
  max-height: 120px;
}

#messages > tr{
  display: inline-block;
  width: 100%;
  max-height: 20px;
}

#saisieMessage{
  width: 85%;
  margin: auto;
  margin-bottom: 10px;
  border: solid black 1px;
}

.userFrom{
  color: black;
  font-style: italic;
}

#plateau{
  position: relative;
  width: 100%;
  height: 75vh;
  border: solid red 1px;
}

#carte{
  border: solid 1px blue;
  width: 100%;
  height: 70vh;
}

#toggleButtonContainer{
  position: relative;
  width: 70px;
  height: 35px;
  margin: auto;
  margin-bottom: 10px;
}

#notifications{
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  color: orange;  
  margin: 0px;
  color: #DF4301;
  border: #DF4301 solid 2px;
  background: #F9A47F;
  border-radius: 100%;
}

#toggleChatBouton{
  width: 100%;
  height: 100%;  
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: solid black 1px;
  padding: 5px 10px;
  font-size: 20px;
}

#asideChat{
  position: absolute;
  top: 30%;
  right: 10px;
}